# 모델 파일 (회원/비회원)
app/models/member_model/
app/models/guest_model/

# 기타 캐시, 로그, 환경
__pycache__/
*.pyc
.env
*.log

# Docker DB 데이터 볼륨
db_data/

# React 빌드 결과 (추후 배포 시 활성화)
# /frontend/build/

# Spring Boot 빌드 결과
/backend/build/

# OS/IDE 파일
.DS_Store
Thumbs.db
.idea/

# Python 가상환경
**/venv/

# 모델 학습용 데이터
**/data/

# 모델 결과
**/parameters/

# npy 파일 모두 무시
*.npy

# json 파일 모두 무시
*.json

# 모니터링 관련 환경변수
monitoring/.env

# 특정 파일은 다시 추적
!/frontend/sobi-front/package.json
!/frontend/sobi-front/tsconfig.json
!/frontend/sobi-front/public/manifest.json